@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Описание</h2>
    <p>
        Задание касается географических аспектов хранения данных: местоположение данных должно определятся кодом региона,
         полученным от пользователя. Код региона выбирается через Dropdown поле на форме ввода и отправляется вместе с текстом 
         методом POST. Коды регионов:<br>
        - RUS - Россия<br>
        - EU - Европейский Созю<br>
        - USA - США<br>
        Требуется реализовать сегментирование данных на стратегии поиска. Ключом сегментирования будет идентификатор контекста 
        обработки contextId.<br>
        BackendApi должен по коду региона определить соответствующий номер базы Redis. Все записи касательно текста 
        (непосредственно текст и его оценка) должны находиться в базе с соответсвующим номером.<br>
        При обращении к базе Redis в консоль каждого компонента должен выводиться лог с указанием contextId и номера 
        используемой базы.<br>
    </p>
</div>

